*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: white;
}

.top-container {
    background-color: #1f2937;
    height: 500px;
}

ul {
    list-style-type: none;
}

.navigation-bar {
    width: 70%;
    margin: 0 auto;

}
