*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.first-container {
    background-color: #1f2937;
    height: 550px;
}

ul {
    list-style-type: none;
}


.navigation-bar {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 18px 14px 14px 14px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.link-list {
    display: flex;
    align-items: center;
    gap: 22px;
    font-size: 18px;
    color: #e5e7eb;
}

.first-section {
    max-width: 78%;
    margin: 16px auto;
    min-height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-container {
    max-width: 40%;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.h1-subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.title-button {
    background-color: #3882f6;
    padding: 8px 37px;
    color:  white;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #1f2937;
    border-radius: 12px;
}

.image-placeholder {
    width: 550px;
    height: 230px;
    background-color: rgb(108, 110, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.second-section {
    color: black;
    height: 400px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 22px;
    margin: 22px auto;
}

.square {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    color: white;
    border-radius: 10px;
    margin-bottom: 8px;
}

.squares-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px;
}


.middle-containers {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 150px;
}

.third-section {
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 44px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.sub-quote {
    font-size: 22px;
    font-weight: 600;
}


