*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: white;
}

.top-container {
    background-color: #1f2937;
    height: 500px;
}

ul {
    list-style-type: none;
}


.navigation-bar {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 18px 14px 14px 14px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.link-list {
    display: flex;
    align-items: center;
    gap: 22px;
    font-size: 18px;
    color: #e5e7eb;
}

.top-section {
    max-width: 80%;
    margin: 0 auto;
    min-height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-container {
    max-width: 40%;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.h1-subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.title-button {
    background-color: #3882f6;
    padding: 8px 37px;
    color:  white;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #1f2937;
    border-radius: 12px;
}
