*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: white;
}

.top-container {
    background-color: #1f2937;
    height: 500px;
}

ul {
    list-style-type: none;
}


.navigation-bar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 18px 14px 14px 14px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.link-list {
    display: flex;
    align-items: center;
    gap: 22px;
    font-size: 19px;
}

.top-section {
    width: 80%;
    margin: 0 auto;
    height: 70%;
    display: flex;
    align-items: center;
}
